* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: MiFuente;
    src: url(Kanit-Regular.ttf)
}

body{
    height: 100vh;
    font-family: MiFuente;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    background-color: white;
}

body.theme-light{
    background-color: white;
    color: #590202;
}

body.theme-dark{
    background-color: #350101;
    color: white;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #A64732;
    color: #F2F2F2;
    padding: 20px;
    text-align: center;
}

button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    padding: 10px ;
    cursor: pointer;
    outline: none;
}

button i {
    font-size: 25px;
    color: inherit;
}

@media (min-width: 768px) {
    button {
        right: 5%;
        padding: 0;
        top: auto;
    }
    button i {
        font-size: 50px;
    }

}

/* For mobile first */

/* #header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #A64732;
    color: #F2F2F2;
    padding: 20px;
    text-align: center;
}

button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

button i {
    font-size: 36px;
    color: inherit;
}*/






#header h1 {
    font-size: 2.5em;
    color: #F2D43D;
    margin: 0;
}

#content {
    padding: 20px;
    height: 100vh;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    color: #D9AB23;
    font-size: 2em;
    margin-bottom: 10px;
}

.section p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.curiosidades ul {
    list-style-type: square;
    margin-left: 20px;
}

.curiosidades li {
    font-size: 1.1em;
    margin-bottom: 5px;
}


.imagen-melvin {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}


.formulario label {
    font-size: 1.1em;
    color: #590202;
}

.formulario input {
    padding: 10px;
    width: 200px;
    border: 2px solid #A64732;
    border-radius: 5px;
}

#footer {
    background-color: #590202;
    color: #F2F2F2;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* #cajaContainer {
    padding: 1rem;
    text-align: center;
    width: 700px;
    height: 700px;
    background-color:rgb(252, 252, 83);
    margin: 20rem auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}


.cajas {
    width: 100px;
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#caja1 {
    background-color: tomato;
}

#caja2 {
    align-self: flex-end;
    background-color: #CCCCCC;
}

#caja3 {
    align-self: center;
    background-color: skyblue;
}

#caja4 {
    background-color: limegreen;
} */

